/* ==========================================================================
   App Stylesheet
   app.scss
   ========================================================================== */

$font-stack: Helvetica, sans-serif;
$href-color: green;
$side-color: #F5F5F5;


div {
  font: 100% $font-stack;
  background-color: $side-color;
}

a {
  color: $href-color;

}

aside {
  background-color: $side-color;
}

body {
  color: $side-color;
  background: $side-color;
  img {
    width: 250px;
    height: auto;
  }
}





/* Vendor Styles and Setting (foundation > settings)
   ======================================================================== */
@import "foundation";
@import "settings";


/* Mixins (User defined mixins)
   ======================================================================== */


/* Components
   ======================================================================== */
@import "components/base";

